* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  flex-wrap: wrap;
}

.logo{
    width: 20%;
}
.logo img {
  height: 200px;
  margin-left: 20px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu li a {
  text-decoration: none;
  color: #2c3e50;
  text-align: center;
  font-size: 14px;
}

.menu li a i {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  color: #4a4a4a;
}

.menu li a:hover {
  color: #007bff;
}

.menu li a:hover i {
  color: #007bff;
}
